<h1>
Hello
</h1>
<style>
  #draggable { width: 150px; height: 150px; padding: 0.5em; }
  </style>
  <script>
  $(function() {
    $( ".draggable" ).draggable();
  });
</script>

  <a href="#">
    <%= image_tag("oowl_logo_white.png", :id => "logo") %>
  </a>
  
  
  
  
  <div id="minus-button">
    <%= image_tag("minus.jpg", :class => "bigIMG") %>
  </div>

  <div id="wrapper" class="grid-img"> 
    <div id="shelf-wrapper">
      <div id="container" class="shelf-img">
        <div class="row">
          <%= image_tag("1888368.jpeg", :class => "draggable") %>
          <%= image_tag("926965.jpeg", :class => "draggable") %>
          <%= image_tag("3.jpg", :class => "draggable") %>
        </div>
        <div class="row">
          <%= image_tag("4.jpg", :class => "draggable") %>
          <%= image_tag("5.jpg", :class => "draggable") %>
          <%= image_tag("6.jpg", :class => "draggable") %>
        </div>
        <div class="row">
          <%= image_tag("7.jpg", :class => "draggable") %>
          <%= image_tag("8.jpg", :class => "draggable") %>
          <%= image_tag("9.jpg", :class => "draggable") %>
        </div>
      </div>
    </div> 
  </div>
